body{
    background-color: #f1f1f1;
    margin: 0;
    font-family: sans-serif;
}

nav {
    float: left;
    display: block;
}

ul li {
    list-style-type: none;
    margin-left: -40px;
}

li a {
    text-decoration: none;
    color: #000;
}

ul#home-link li a{
    font-weight: bold;
    vertical-align: top;
    font-size: 18px;
}

.first-item {
    color: #981d1b;
    font-weight: bold;
}

#home-link {
    list-style-image: url('../Images/house.png');
    margin-left: 25px;
}

section {
    width: 50%;
    height: 720px;
    margin-left: 12%;
    margin-top: 0.5%;
    background-color: white;
    border: 1px solid gray;
}

header {
    padding-left: 5px;
}

input {
    background-color: white;
    border: 1px solid black;
    height: 25px;
    margin-left: 5px;
}

hr {
    height: 2px;
    background-color: lightgray;
    width: 99%;
}

.small-gray-titles {
    color: white;
    text-align: center;
    background-color: #808080;
    margin-top: -5px;
}

div#CSS-Tutorial {
    width: 90%;
    font-weight: bold;
}

div.gray-titles {
    height: 20px;
    background-color: #808080;
    color: white;
    margin: 5px;
    width: 98.7%;
    font-weight: bold;
    text-indent: 3px;
}

p a, a {
    color: #A43735;
}

p {
    padding-left: 5px;
}

img#logo {
    width: 120px;
    height: 120px;
    margin-left: 5px;
    margin-right: 25px;
    float: left;
}

aside {
    float: left;
    height: 70px;
    width: 17.5%;
    margin-top: -721px;
    margin-left: 688px;
    height: 750px;
}

.aside-menus {
    text-align: center;
    border: 1px solid gray;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

span + input[type = button] {
    border-radius: 5px;
    background-color: #f8f8f6;
}

#blue-button {
    margin-top: 5px;
    padding-bottom: 0px;
}