body {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

ul ul {
    display: none;
}

ul li:hover a{
    text-decoration: underline;
}

ul li:hover ul {
    display: block;
}

ul li:hover ul a {
    color: gray;
    text-decoration: none;
}