/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: "Segoe UI";
}

#container {
    border-radius: 5px;
    background: rgb(173,204,235); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(173,204,235,1) 1%, rgba(188,220,251,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,rgba(173,204,235,1)), color-stop(100%,rgba(188,220,251,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(173,204,235,1) 1%,rgba(188,220,251,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(173,204,235,1) 1%,rgba(188,220,251,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(173,204,235,1) 1%,rgba(188,220,251,1) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(173,204,235,1) 1%,rgba(188,220,251,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adcceb', endColorstr='#bcdcfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 430px;
    position: relative;
    width: 460px;
}

#logo {
    float: left;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: 2px 2px 4px white;
}

#calculator-text {
    vertical-align: super;
}

#exit-buttons {
    float: right;
    margin-top: -2px;
    margin-right: 5px;
}

#main {
    border: 1px solid #818e9a;
    border-radius: 3px;
    background: rgb(217,228,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(217,228,241,1) 1%, rgba(217,228,241,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(217,228,241,1)), color-stop(100%,rgba(217,228,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(217,228,241,1) 1%,rgba(217,228,241,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(217,228,241,1) 1%,rgba(217,228,241,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(217,228,241,1) 1%,rgba(217,228,241,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(217,228,241,1) 1%,rgba(217,228,241,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4f1', endColorstr='#d9e4f1',GradientType=0 ); /* IE6-9 */
    height: 390px;
    left: 10px;
    position: relative;
    top: 30px;
    width: 435px;
}

#nav {
    border-bottom: 1px solid #818e9a;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(233,237,246,1) 26%, rgba(231,235,246,1) 32%, rgba(218,224,240,1) 37%, rgba(211,218,237,1) 42%, rgba(224,229,245,1) 89%, rgba(227,232,248,1) 95%, rgba(207,213,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(26%,rgba(233,237,246,1)), color-stop(32%,rgba(231,235,246,1)), color-stop(37%,rgba(218,224,240,1)), color-stop(42%,rgba(211,218,237,1)), color-stop(89%,rgba(224,229,245,1)), color-stop(95%,rgba(227,232,248,1)), color-stop(100%,rgba(207,213,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(233,237,246,1) 26%,rgba(231,235,246,1) 32%,rgba(218,224,240,1) 37%,rgba(211,218,237,1) 42%,rgba(224,229,245,1) 89%,rgba(227,232,248,1) 95%,rgba(207,213,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(233,237,246,1) 26%,rgba(231,235,246,1) 32%,rgba(218,224,240,1) 37%,rgba(211,218,237,1) 42%,rgba(224,229,245,1) 89%,rgba(227,232,248,1) 95%,rgba(207,213,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(233,237,246,1) 26%,rgba(231,235,246,1) 32%,rgba(218,224,240,1) 37%,rgba(211,218,237,1) 42%,rgba(224,229,245,1) 89%,rgba(227,232,248,1) 95%,rgba(207,213,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(233,237,246,1) 26%,rgba(231,235,246,1) 32%,rgba(218,224,240,1) 37%,rgba(211,218,237,1) 42%,rgba(224,229,245,1) 89%,rgba(227,232,248,1) 95%,rgba(207,213,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd5e5',GradientType=0 ); /* IE6-9 */
    font-size: 14px;
    height: 20px;
}

div#nav span {
    float: left;
    padding-top: 2px;
}

#edit:first-letter, #view:first-letter, #help:first-letter {
    text-decoration: underline;
}

#view {
    margin-left: -80px;
}

#edit {
    margin-left: -40px;
}

#help {
    margin-left: -5px;
}

#result-screen {
    background: rgb(244,245,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(244,245,246,1) 0%, rgba(237,244,254,1) 2%, rgba(229,238,251,1) 4%, rgba(229,239,250,1) 20%, rgba(251,252,254,1) 76%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,245,246,1)), color-stop(2%,rgba(237,244,254,1)), color-stop(4%,rgba(229,238,251,1)), color-stop(20%,rgba(229,239,250,1)), color-stop(76%,rgba(251,252,254,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(244,245,246,1) 0%,rgba(237,244,254,1) 2%,rgba(229,238,251,1) 4%,rgba(229,239,250,1) 20%,rgba(251,252,254,1) 76%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(244,245,246,1) 0%,rgba(237,244,254,1) 2%,rgba(229,238,251,1) 4%,rgba(229,239,250,1) 20%,rgba(251,252,254,1) 76%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(244,245,246,1) 0%,rgba(237,244,254,1) 2%,rgba(229,238,251,1) 4%,rgba(229,239,250,1) 20%,rgba(251,252,254,1) 76%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(244,245,246,1) 0%,rgba(237,244,254,1) 2%,rgba(229,238,251,1) 4%,rgba(229,239,250,1) 20%,rgba(251,252,254,1) 76%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border: 1px solid #818e9a;
    border-radius: 3px;
    position: absolute;
    left: 9px;
    top: 30px;
    width: 410px;
    height: 56px;
}

#result {
    font-size: 30px;
    position: absolute;
    left: 293px;
    top: 10px;
}

#binary-screen {
    position: absolute;
    left: 9px;
    top: 93px;
    border: 1px solid #818e9a;
    border-radius: 3px;
    width: 410px;
    height: 65px;
}

tr:nth-child(2n+1) td{
    color: #1b4c7c;
    font-weight: bold;
    padding-left: 18px;
    padding-top: 5px;
}

tr:nth-child(2n) td:not(#top-right-aligned-cell) {
    padding-left: 18px;
    color: #686363;
    padding-top: 0;
}

td {
    font-family: Consolas;
    font-size: 14px;
}

td#top-right-aligned-cell {
    padding-left: 33px;
    color: #686363;
}

#systems {
    border: 1px solid #818e9a;
    border-radius: 3px;
    color: #1b4c7c;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 9px;
    top: 168px;
    padding: 5px 25px 3px 3px;
}

div#systems ul li, div#word ul li {
    padding-bottom: 5px;
}

#word {
    border: 1px solid #818e9a;
    border-radius: 3px;
    color: #1b4c7c;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 9px;
    top: 275px;
    padding: 5px 10px 5px 3px;
}

#buttons {
    position: absolute;
    left: 90px;
    top: 168px;
}

div#buttons ul li {
    display: inline-block;
}

div#buttons ul li input:not(#zero-button){
    color: #1b4c7c;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    height: 32px;
    width: 37px;
    margin-bottom: 4px;
}

.unclickable-buttons {
    border: 1px solid #818e9a;
    border-radius: 3px;
    background: rgb(217,228,241); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(217,228,241,1) 1%, rgba(217,228,241,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(217,228,241,1)), color-stop(100%,rgba(217,228,241,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(217,228,241,1) 1%,rgba(217,228,241,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(217,228,241,1) 1%,rgba(217,228,241,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(217,228,241,1) 1%,rgba(217,228,241,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(217,228,241,1) 1%,rgba(217,228,241,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4f1', endColorstr='#d9e4f1',GradientType=0 ); /* IE6-9 */

}

#zero-button {
    width: 78px;
    height: 32px;
    color: #1b4c7c;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

}

div#buttons ul li input:hover, div#equals-sign input:hover {
    background: rgb(254,243,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,243,232,1) 0%, rgba(254,240,224,1) 4%, rgba(253,228,203,1) 40%, rgba(252,225,188,1) 44%, rgba(251,208,115,1) 48%, rgba(251,211,124,1) 60%, rgba(251,227,132,1) 80%, rgba(251,232,137,1) 84%, rgba(251,238,147,1) 88%, rgba(251,244,167,1) 92%, rgba(252,250,203,1) 96%, rgba(255,255,250,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,243,232,1)), color-stop(4%,rgba(254,240,224,1)), color-stop(40%,rgba(253,228,203,1)), color-stop(44%,rgba(252,225,188,1)), color-stop(48%,rgba(251,208,115,1)), color-stop(60%,rgba(251,211,124,1)), color-stop(80%,rgba(251,227,132,1)), color-stop(84%,rgba(251,232,137,1)), color-stop(88%,rgba(251,238,147,1)), color-stop(92%,rgba(251,244,167,1)), color-stop(96%,rgba(252,250,203,1)), color-stop(100%,rgba(255,255,250,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,243,232,1) 0%,rgba(254,240,224,1) 4%,rgba(253,228,203,1) 40%,rgba(252,225,188,1) 44%,rgba(251,208,115,1) 48%,rgba(251,211,124,1) 60%,rgba(251,227,132,1) 80%,rgba(251,232,137,1) 84%,rgba(251,238,147,1) 88%,rgba(251,244,167,1) 92%,rgba(252,250,203,1) 96%,rgba(255,255,250,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,243,232,1) 0%,rgba(254,240,224,1) 4%,rgba(253,228,203,1) 40%,rgba(252,225,188,1) 44%,rgba(251,208,115,1) 48%,rgba(251,211,124,1) 60%,rgba(251,227,132,1) 80%,rgba(251,232,137,1) 84%,rgba(251,238,147,1) 88%,rgba(251,244,167,1) 92%,rgba(252,250,203,1) 96%,rgba(255,255,250,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,243,232,1) 0%,rgba(254,240,224,1) 4%,rgba(253,228,203,1) 40%,rgba(252,225,188,1) 44%,rgba(251,208,115,1) 48%,rgba(251,211,124,1) 60%,rgba(251,227,132,1) 80%,rgba(251,232,137,1) 84%,rgba(251,238,147,1) 88%,rgba(251,244,167,1) 92%,rgba(252,250,203,1) 96%,rgba(255,255,250,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,243,232,1) 0%,rgba(254,240,224,1) 4%,rgba(253,228,203,1) 40%,rgba(252,225,188,1) 44%,rgba(251,208,115,1) 48%,rgba(251,211,124,1) 60%,rgba(251,227,132,1) 80%,rgba(251,232,137,1) 84%,rgba(251,238,147,1) 88%,rgba(251,244,167,1) 92%,rgba(252,250,203,1) 96%,rgba(255,255,250,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef3e8', endColorstr='#fffffa',GradientType=0 ); /* IE6-9 */
    border: 0;
}

div#equals-sign input {
    position: absolute;
    left: 290px;
    top: 144px;
    width: 37px;
    height: 68px;
    color: #1b4c7c;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

}