#first-table{
    padding: 5px;
    border-spacing: 0;
}

#first-column{
    width: 200px;
}

#second-column{
    width: 150px;
}

th{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
}

#second-table td{
    font-family: serif;
    border: 2px ridge;
}

.right-align, #J{
    text-align: right;
}

.center-align{
    text-align: center;
}

#J{
    padding-top: 35px;
    text-align: end;
}